<div class='container'>
	<div class='input-field'>
		<input type='text' id='search' [formControl]="search$">
		<label for='search'>Поиск пользователей</label>
	</div>
	<div class='row'>
		<div class='col s6 offset-s3' id='result'>
			<div class='card' *ngFor="let item of items">
				<div class='card-image'>
					<img src='{{ item.avatar_url }}'>
					<span class='card-title'>{{ item.login }}</span>
				</div>
				<div class='card-action'>
					<a href="{{ item.html_url }}" target="_blank">Открыть GitHub</a>
				</div>
			</div>
		</div>
	</div>
</div>
